<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <application>
        <service android:name="com.queuego.shared.NativeVoiceForegroundService"
            android:exported="false" android:foregroundServiceType="microphone" />
        <meta-data android:name="longdo.map.key" android:value="347649ca13f49db0d8a599ae35f8de2b" />
    </application>
</manifest>
